<br>
<div class="container border">
    <div class="row">
        <div class="col-md-12">
            <pre>Services</pre>
            <div *ngFor="let user of users">

                <pre>name:{{this.user.name}}    age:{{this.user.age}}</pre>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container border ">
    <pre> Event Binding     Debounce        throtling 
    </pre>
    <input class="rounded" type="text" [value]="val" (input)="demo($event)">
    <p>Debouncing: {{val}}</p>
    <p>ThrotlingL {{val2}}</p>
</div>

<br>
<div class="container border">
    <div class="card col-md-2">hey</div>
    <button (click)="dec()" class="btn btn-secondary">-</button>
    <span value="1" class="spn">1</span>
    <button (click)="inc()" class="btn btn-secondary">+</button>

</div>